---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="À propos | webOara" description="About Emilie Clain">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Découvrez mon parcours et mes compétences."
      >
        <img
          width="1553"
          height="873"
          src="/portfolio/assets/bureauPhotoFutur.webp"
          alt="Emilie Clain at work at home"
        />
      </Hero>

      <section>
        <h2 class="section-title">Biographie</h2>
        <div class="content">
          <p>
            Je suis une professionnelle aux parcours multiples, ayant débuté
            dans l'univers créatif de la mode avant de me reconvertir dans le
            développement web et mobile. Mon expérience en tant
            qu'aide-soignante m'a permis de développer des qualités essentielles
            comme la rigueur, l'organisation et l'empathie.
          </p>
          <p>
            En 2017, j'ai eu l'idée de créer une application mobile dédiée à la
            reconnaissance du travail, un projet ambitieux qui m'a poussée à me
            reconvertir. Avant de commencer ma formation, j'ai consacré beaucoup
            de temps à structurer mon idée, en élaborant un modèle économique,
            en menant des sondages consommateurs, et en réalisant des recherches
            approfondies sur le marketing digital (Qr code, NFC). J'ai frappé
            aux portes du CCI, de la BGE, et de pépinières d'entreprises, tout
            en réalisant une étude de marché. J'ai même créé un compte sur GUST
            pour tenter de lever des fonds auprès de business angels.
          </p>
          <p>
            Malgré tous mes efforts et après plusieurs refus, il est devenu
            clair qu'un site web était nécessaire pour valider la faisabilité du
            projet. C'est ainsi que j'ai décidé de suivre une formation
            intensive de 15 mois en développement web et mobile, que j'ai
            terminée en Janvier 2024. Durant cette période, j'ai réalisé
            plusieurs projets techniques en situation professionnelle. Mon
            projet reste toujours en cours, car il nécessite du temps et des
            ressources pour atteindre son plein potentiel.
          </p>
          <p>
            Aujourd'hui, je suis prête à mettre mon expertise en développement
            FullStack, UX design, marketing digital et l'IA au service des
            entreprises, pour innover et les aider à se démarquer dans un monde
            digital en constante évolution.
          </p>
          <p>
            Contactez-moi pour discuter de la manière dont je peux concrétiser
            vos projets.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Formation</h2>
        <div class="content">
          <p>
            Titre Professionnel : Développeuse Web et Web Mobile (RNCP). Diplôme
            : Studi Graduate Développeur Front-End. Certifications : Bloc
            Front-End, Bloc Back-End, Spécialisation Front-End UX Design.
            Formation en cours : Apprentissage autodidacte en IA, machine
            learning et deep learning
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Certification</h2>
        <div class="content">
          <p>
            Certifications Opencalssrooms : Initiez-vous au deep learning-
            Réalisez un cahier des charges fonctionnel- Utilisez des modèles
            supervisé non linéaire- Évaluez les performances d'un modèle de
            machine learning- Analysez des données marketing- Découvrez l'ADN de
            l'innovateur- Entraînez un modèle prédictif linéaire- Initiez-vous
            au Machine Learning- Initiez-vous à la statistique inférentielle-
            Nettoyez et analyser votre jeu de données- Comprenez votre audience
            avec Google Analytics- Découvrez les librairies Python pour la Data
            Science- Maîtrisez les bases des probabilités- Objectif IA :
            initiez-vous à l'intelligence artificielle- Assimilez les
            fondamentaux du digital en entreprise- Initiation au marketing
            digital- Initiez-vous à Python pour l'analyse des données- Maîtrisez
            votre politique de prix- Mettre en place un système de veille
            informationnelle.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <p>
            Créative, autonome, fervente apprenante, passionnée de lecture.
            Résolution de problèmes, attention aux détails, multi-potentielle.
            Goût pour l'aventure et les défis, recherche et développement,
            innovante, Marketing, recherches socioculturelles,
            entrepreneuriat...
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Conditions de Vente</h2>
        <div class="content">
          <p>
            Tous les services proposés sont soumis à des conditions de
            collaboration visant à garantir une relation de travail respectueuse
            et professionnelle. Tout d’abord, pour protéger les idées et
            concepts partagés durant nos échanges, un accord de confidentialité
            est requis avant toute discussion approfondie sur les stratégies ou
            solutions envisagées. Par ailleurs, les devis sont gratuits
            uniquement pour les demandes simples ; pour les projets complexes,
            un devis détaillé peut nécessiter un premier échange payant afin de
            couvrir l’analyse initiale. Les modalités de paiement se font par
            étapes, avec un acompte initial pour lancer le projet et des
            versements répartis selon l’avancement (cahier des charges, design,
            développement, et déploiement). Enfin, chaque partie s’engage à
            respecter les délais convenus, à maintenir une communication
            transparente et à contribuer activement au succès du projet. Pour
            plus d’informations, n’hésitez pas à me contacter.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
