---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="À propos | webOara" description="About Emilie Clain">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Découvrez mon parcours et mes compétences."
      >
        <img
          width="1553"
          height="873"
          src="/portfolio/assets/photoMoiBB.png"
          alt="Emilie Clain at work at home"
        />
      </Hero>

      <section>
        <h2 class="section-title">Biographie</h2>
        <div class="content">
          <p>
            Je suis une professionnelle aux parcours et passions multiples,
            ayant commencé dans l'univers créatif des chapeaux. J'ai obtenu mon
            diplôme au lycée Octave Feuillet, à Paris. Je me souviens des
            défilés de mode, des stages dans les maisons de haute couture, de
            l'odeur des matériaux et de la douceur des plumes et des étoffes,
            ainsi que des visites dans les musées et l'étude de l'histoire de
            l'art.
          </p>
          <p>
            C'est alors qu'un été, j'ai accepté un job en tant que dame de
            compagnie pour une association. J'ai pris soin de Mme R. Eva, âgée
            de 102 ans, et mon cœur a changé de destin. J'ai décidé de changer
            de direction professionnelle et j'ai obtenu mon diplôme
            d'aide-soignante à l'école Jeanne Blum à Jouy-en-Josas. Pendant 20
            ans, j'ai pris soin des autres, travaillant dans le secteur public,
            privé et en intérim.
          </p>
          <p>
            En 2017, j'ai eu l'idée de créer une application mobile pour la
            reconnaissance du travail. Ce projet nécessitait à l'époque une
            équipe de développement web pour que l'idée soit testée et pour
            dégager des fonds d'investissements. C'est là que ma reconversion a
            commencé ! J'ai attendu 5 ans pour préparer mon dossier de
            reconversion, et en 2022, j'ai entamé ma formation développeuse web
            et web mobile. J'ai obtenu mes diplômes en décembre 2023. J'ai
            réalisé des projets en situation professionnelle et des projets pour
            valider mes compétences techniques.
          </p>
          <p>
            Si je suis ici aujourd'hui, ce n'est pas par hasard. Mon
            professionnalisme et mes compétences sont à votre disposition pour
            concrétiser ensemble vos projets qui deviendront les miens.
            N'hésitez pas à me contacter.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Formation</h2>
        <div class="content">
          <p>
            Titre professionnel développeuse web et web mobile (RNCP), Diplôme
            Studi Graduate développeur Front End, Certification Bloc Front End,
            Certification Bloc Back End, Certification Spécialisation Front End
            UX design.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <p>
            Créative, autonome, fervente apprenante, passionnée de lecture.
            Résolution de problèmes, attention aux détails, multi-potentielle.
            Goût pour l'aventure et les défis, recherche et développement,
            innovante, recherches socioculturelles, entrepreneuriat, chants,
            piano, guitare, dessin...
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Tarifs</h2>
        <div class="content">
          <p>
            TJM = Taux journalier moyen représente le coût quotidien de mes
            services de développement web, basé sur mes compétences, mon
            expérience et le niveau de complexité du projet. Ce taux est fixé
            lors de la création du devis.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Devis</h2>
        <div class="content">
          <p>
            Je propose des entretiens en personne ou en visioconférence selon
            votre convenance. Premier contact uniquement par mail. Je suis prête
            pour travailler avec des clients anglophones. Cliquez sur
            "Écrivez-moi".
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
