---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      HTML - CSS - JavaScript - React / PHP - Symfony / SQL - Mysql -Doctrine /
      Python / UX Design / Identité visuelle/ marketing Digital / IA / Gestion
      de projet / Agilité/ Communication/ IA Act Réglementation Européenne.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Studi Digital Campus</h2>
    <p>
      Titre professionnel RNCP développeuse web et web mobile, certifications
      bloc Front-End et Back-End, Certification spécialisation Front-End en UX
      design, diplôme Studi. Certifications Openclassrooms.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Stratégie</h2>
    <p>
      J'ai une vision globale des projets et des problèmatiques techniques. Avec
      20 ans d'expérience dans les relations inter-personnel.
    </p>
  </div>
</section>
<!-- 📌 Ajout du GIF ici -->

<div class="gif-container" style="text-align: center;">
  <img
    src="/portfolio/assets/Planche-Tarifare-webOara.png"
    alt="Image tarifs"
    width="1000"
    height="800"
    loading="lazy"
  />
</div>
<div class="gif-container" style="text-align: center;">
  <img
    src="/portfolio/assets/universGif2.gif"
    alt="Animation illustrative"
    width="500"
    height="500"
    loading="lazy"
  />
</div>
<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
